@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Here Start First Bar */
nav {
    width: 100%;
    height: 90px;
    background-color: #1F2A37;
    border-bottom: 0.1px solid #495057;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
    z-index: 999;
}

.nav-item {
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0 80px;
    justify-content: space-between;
    margin: auto;
    text-align: left;
    align-items: center;
    z-index: 999;
}

/* Logo on first NavBar */
.n-top {
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

/* This span is for logo text Eco Store  */
span {
    color: #8ecae6;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search-input {
    font-size: inherit;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 30px;
    width: 700px;
    height: 45px;
    transition: all ease-in-out .5s;
    margin-right: -5.4rem;
}

.search-button {
    border: none;
    width: 80px;
    height: 35px;
    border-radius: 30px;
    background-color: #8ecae6;
    color: #fff;
}

.search-button:hover {
    cursor: pointer;
}

/* Here End First Nav */

/* Here Start Header Second Bar */
header {
    width: 100%;
    position: relative;
    align-items: center;
    transition: 0.6s;
    background-color: #1F2A37;
    z-index: 1;
    outline: 0;
}

/* This is for second NavBar */
.nav-menu {
    width: 90%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: auto;
    text-align: left;
    align-items: center;
}

.nav-menu a {
    border-bottom: 3px solid transparent;
    color: transparent;
}

.nav-menu a:hover {
    color: #8ecae6;
}

.nav-menu a.active {
    color: #8ecae6;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-menu ul li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

/* Sticky NavBar */
.sticky {
    position: fixed;
    top: 0;
}

/* This Icon is on right navbar Heart */
#cart-heart {
    font-size: 28px;
    position: relative;
    align-items: center;
    color: #fff;
    right: 15px;
}

/* Cart Icon */
#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
}

/* Here is Dropdown */
.drop-cont {
    display: flex;
}

.menu-down .drop-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}

.down-content {
    position: absolute;
    top: 100%;
    z-index: 9;
    display: none;
    text-align: left;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.down-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-decoration: none;
}

.menu-down:hover .down-content {
    display: block;
}

.fa-caret-down {
    position: relative;
    left: 8px;
}

.col-1 {
    width: 100%;
    height: 65vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.col-2 {
    width: 300px;
}

.col-2 h2 {
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
    color: #253237;
}

.col-3 p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    left: 0;
    color: #253237;
}

.col-3 a {
    font-size: 14px;
    line-height: 5px;
    font-weight: 400;
    position: relative;
    margin-left: -15px;
}

.col-3 a:hover {
    color: #8ecae6;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav-bar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    color: #8ecae6;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    z-index: 9;
    display: none;
    text-align: left;
    padding: 5px 5px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #ddd;
    color: #fff;
}

.show {
    display: block;
}

/* Here End Header */


.bg-content {
    background: url(image/bg-shops.jpg);
    background-position: center;
    background-size: cover;
    height: 28vh;
}

.bg-content h2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
}

/* Here Start BG-2 */
.width {
    width: 90%;
    justify-content: space-around;
    margin: 3rem auto;
}

.side-bar {
    float: inline-start;
    position: relative;
}

.modal-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #253237;
}

.categoris {
    place-items: top;
    position: relative;
    margin-bottom: 1.5rem;
}

#p-first {
    font-size: 20px;
    font-weight: 400;
    line-height: 70px;
    border-bottom: 1px solid #bbb;
    text-transform: capitalize !important;
    width: calc(280px - 10px);
    overflow: visible;
    outline: none;
    position: relative;
    color: #253237;
}

.check-box {
    position: relative;
    top: 12px;
}

.check-box li {
    line-height: 35px;
    font-size: 15px;
    color: #253237;
}

.checkbox {
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* Shop Content */
.shop-content {
    width: 80%;
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    justify-content: last baseline;
    float: right;
}

.product-box {
    position: relative;
}

.product-box p {
    line-height: 45px;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #253237;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: #494949;
}

.tab-content {
    position: relative;
    margin-bottom: 8rem;
}

/* HR on left section paragraph */
hr {
    outline: 0;
    border-top: 1px solid #ebedee;
}

img {
    width: 100%;
}

/* Form Container contact 02.html */
.contact-content {
    width: 500px;
    height: auto;
    margin: 6rem auto;
}

#fname,
#lname,
#country,
#subject {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 4px;
    outline: 0;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: #F12424;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Here Start Footer */
.footer {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #131313;
    color: #fff;
}

.content-footer {
    width: 90%;
    display: grid;
    grid-template-columns: 450px 250px 250px 250px;
    justify-content: space-evenly;
    align-self: center;
    place-items: top;
    margin-inline: auto;
}

.footer-box {
    line-height: 30px;
}

.footer-box h2 {
    margin-bottom: 20px;
}

.footer-box h3 {
    color: #ebedee;
}

/* This is for icons on Footer  */
.fab {
    position: relative;
    font-size: 25px;
    top: 15px;
    margin: 0 5px;
    color: #ebedee;
}



/* Responsive Design */
@media (max-width: 1080px) {

    section {
        padding: 3rem 0 2rem;
    }

    /* Here Start First Bar */
    nav {
        width: 100%;
        height: 90px;
        background-color: #1F2A37;
        border-bottom: 0.1px solid #495057;
        border-bottom-width: 0.1px;
        border-bottom-style: solid;
        z-index: 999;
    }

    .nav-item {
        width: 100%;
        height: 90px;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        margin: auto;
        text-align: left;
        align-items: center;
        z-index: 999;
    }

    .search-input {
        width: 500px;
        height: 45px;
        transition: all ease-in-out .5s;
    }

    .search-button {
        width: 80px;
        height: 35px;
    }

    .shop {
        margin-top: 2rem !important;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: auto;
        padding: 2rem 1rem 2rem 1rem;
    }

    /* Content Footer */
    .content-footer {
        width: 90%;
        gap: 4rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

}


@media screen and (max-width: 768px) {

    .bar {
        background: #fff;
    }

    .nav-link {
        color: #fff;
    }

    .sticky .bar {
        background: #fff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 7px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        width: 50%;
        height: 100vh;
        background: #1F2A37;
        position: fixed;
        left: -100%;
        top: 90px;
        padding-top: 40px;
        line-height: 80px;
        display: block;
        font-size: 20px;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        opacity: 1;
    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
    }

    .nav-menu ul {
        display: block;
        justify-content: space-between;
        gap: 25px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        padding: 0 40px;
    }

    .search-input {
        width: 200px;
        height: 45px;
        transition: all ease-in-out .5s;
    }

    .search-button {
        width: 80px;
        height: 35px;
    }

    /* This is for DropDown Content */
    .drop-cont {
        display: none;
    }

    .side-bar {
        display: none;
    }

    /* Shop Content */
    .shop-content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        margin: auto;
    }

    .tab-content {
        position: relative;
        margin-bottom: 10rem;
    }

    /* Form Container contact 02.html */
    .contact-content {
        width: auto;
        padding: 0 20px 0 20px;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: auto;
    }

    /* Content Footer */
    .content-footer {
        display: grid;
        grid-template-columns: auto auto auto;
    }

}


@media screen and (max-width: 600px) {

    .nav-menu {
        width: 70%;
    }

    .search-input {
        display: none;
    }

    .search-button {
        width: 70px;
        height: 35px;
    }

    /* This is for First NavBar */
    .nav-item {
        padding: 0 25px;
    }

    .bar {
        width: 20px;
        height: 2.5px;
    }

    /* Logo on first NavBar */
    .n-top {
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }

    /* Footer */
    .footer {
        width: 100%;
        height: auto;
        padding: 2rem 1rem 2rem 1rem;
    }

    /* Content Footer */
    .content-footer {
        width: 90%;
        gap: 4rem;
        display: grid;
        grid-template-columns: auto;
    }

}


@media (max-width: 400px) {

    /* Cart */
    .cart {
        width: 200px;
    }

    .search-input {
        display: none;
    }

    .search-button {
        width: 60px;
        height: 35px;
    }

    /* This Icon is on right navbar Heart */
    #cart-heart {
        font-size: 20px;
        right: 0;
    }

    /* Cart Icon */
    #cart-icon {
        font-size: 20px;
    }

    .bg-2 {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        padding: 0 1rem;
        align-items: center;
    }

}


@media (max-width: 360px) {

    .shop {
        margin-top: 1rem !important;
    }

    .cart {
        width: 280px;
    }

}